[Unit]
Description=FUSE filesystem over Google Drive
After=network.target

[Service]
ExecStart=google-drive-ocamlfuse %h/gdrive
ExecStop=fusermount -u %h/gdrive
Restart=always
RestartSec=30
Type=forking

[Install]
WantedBy=default.target