[Unit]
Description=Google Drive OCamlFuse Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/sevi/.opam/default/bin/google-drive-ocamlfuse -id GOOGLE_CLIENT_ID -secret GOOGLE_CLIENT_SECRET %h/gdrive
ExecStop=/usr/bin/fusermount -u %h/gdrive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target